<launch>
    <!-- respawn：clear_params: -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
        <!-- 20 局部规划器运行频率 -->
        <param name="controller_frequency" value="5.0" />
        <!-- 全局路径更新频率 -->
        <param name="planner_frequency" value="1.0" />
        <!-- 代价地图通用参数 -->
        <rosparam file="$(find navigation_pkg)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find navigation_pkg)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <!-- 本地代价地图参数 -->
        <rosparam file="$(find navigation_pkg)/param/local_costmap_params.yaml" command="load" />
        <!-- 全局代价地图参数 -->
        <rosparam file="$(find navigation_pkg)/param/global_costmap_params.yaml" command="load" />
        <!-- 局部规划器配置参数 -->
            <!-- dwa配置文件 -->
        <rosparam file="$(find navigation_pkg)/param/dwa_local_planner_params.yaml" command="load" />
            <!-- teb配置文件 -->
        <!-- <rosparam file="$(find navigation_pkg)/param/teb_local_planner_params.yaml" command="load" /> -->
        
        <!-- 设置全局规划器-->
        <param name="base_global_planner" value="global_planner/GlobalPlanner" />
        <!-- 设置局部规划器 -->
            <!-- teb 规划器 -->
        <!-- <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" /> -->
            <!-- dwa 规划器 -->
        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    
    </node>

</launch>
