<!-- 集成导航相关launch文件 -->
<launch>
    <!-- rviz -->
    <node pkg="rviz" name="rviz" type="rviz" args="-d $(find navigation_pkg)/config/nav.rviz" />
    <!-- 底盘 -->
    <include file="$(find urdf_pkg)/launch/territory_integration.launch" />
    <!-- 地图服务 -->
    <include file="$(find navigation_pkg)/launch/map_server.launch" />
    <!-- amcl -->
    <include file="$(find navigation_pkg)/launch/amcl.launch" />
    <!-- move_base -->
    <include file="$(find navigation_pkg)/launch/move_base.launch" />
    <!-- imu -->
    <include file="$(find imu_ros1_device)/launch/ybimu_display.launch" />
    <!-- EKF（融合imu）-->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_local" output="screen">
        <param name="transform_time_offset" value="0.0" />
        <rosparam command="load" file="$(find navigation_pkg)/param/ekf.yaml"/>
      </node>
    <!-- 多点导航必要插件 -->
    <!-- wp_navi_server目标点发布 -->
    <!-- <node pkg="waterplus_map_tools" type="wp_navi_server" name="wp_navi_server" output="screen" /> -->
    <!-- wp_manager航点管理 -->
    <!-- <node pkg="waterplus_map_tools" type="wp_manager" name="wp_manager" output="screen" > -->
        <!-- <param name="load" value="/home/ruming/waypoints.xml" /> -->
    <!-- </node> -->
    
    <!-- 添加点云坐标系到kinect连杆坐标系的变换 -->
    <!-- 
        0 0 0 ==== 偏移量
        -1.57(z) 0(y) -1.57(x) ==== 欧拉角
        /support ==== 父级坐标系
        /support_depth ==== 自己坐标系
    -->
    <!-- <node pkg="tf2_ros" name="static_transform_publisher" type="static_transform_publisher" args="0 0 0 -1.57 0 -1.57 /support /support_depth" /> -->


</launch>
