<launch>
    <!-- 是否使用仿真，true是 -->
    <param name="use_sim_time" value="false"/>
    <!-- gmapping 节点 -->
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen" >
      <!-- 设置雷达话题名称，这里from表示默认为scan to后面的为目标值-->
      <remap from="scan" to="scan"/>
      <!-- 关键参数：坐标系 -->
      <param name="base_frame" value="base_footprint" />  <!-- 基坐标系-->
      <param name="map_frame" value="map" />              <!-- 地图坐标系 一般为这个-->
      <param name="odom_frame" value="odom" />            <!-- 里程计坐标系 一般为这个-->
      <!-- 地图更新时间 -->
      <param name="map_update_interval" value="1.0"/>
      <!-- 地图最大截断范围-->
      <param name="maxUrange" value="16.0"/>
      <!-- 
        端点匹配的标准差：
          似然计算中激光雷达扫描的匹配程度标准差。
          设置得小，匹配就会严格，可以提高地图精度
          大就宽松一点。
          0.05 ==== 中等精度环境，如果地图非常抖动可以稍微增大该值
        注：太大会造成地图模糊
       -->
      <param name="sigma" value="0.05"/>
      <!-- 似然计算中模拟数据与真实激光雷达数据进行比对时，通过一个小核去进行n个点的匹配，
           这个值就是设置那个核的大小。1是核比较小的。核越小，点越少
           精度越高
       -->
      <param name="kernelSize" value="1"/>
      <!-- 平移优化时调整的最小距离，值越小精度越高 -->
      <param name="lstep" value="0.05"/>
      <!-- 旋转优化时调整的最小角度，值越小精度越高 -->
      <param name="astep" value="0.05"/>
      <!-- 
          机器人在扫描过程中，需要让机器人在地图中达到最真实的位置，
          他会使用优化算法进行优化，这里设置的就是优化的次数，如果误差较小，
          可以少于5次得到最优解，误差较大，可能超过5次。次数越大，损耗的时间越多
       -->
      <param name="iterations" value="5"/>
      <!--
          这个参数表示似然计算中使用的激光雷达数据的标准差，
          定义激光雷达的可信度，值越小，地图匹配越严格，反之允许
          误差越大
      -->
      <param name="lsigma" value="0.075"/>
      <!--
          说明：
            似然计算时，对粒子权重的分配，值越小，分配
            越均匀，值越大，分配越集中，即高权重会集中在少量粒子上
          设置：
            一般来说，环境稳定，可以适当减少（1）
            环境复杂或激光雷达测量噪声较大，可以增大（3）
      -->
      <param name="ogain" value="3.0"/>
      <!-- 
        每次扫描跳过的光束数。机器人每次扫描
        都会产生360（或其他，具体看配置文件）束
        激光，这个值设置的是处理多少激光。
        0 ==== 全部处理
        1 ==== 处理1条，跳过1条
        2 ==== 处理1条，跳过2条
        3 ==== 处理1条，跳过3条
      -->
      <param name="lskip" value="0"/>
      <!-- 
        位姿优化时
        平移函数（rho/rho）平移时，产生的平移误差
        0.1 ==== 标准差为10%
      -->
      <param name="srr" value="0.1"/>
      <!--  
        位姿优化时
        旋转函数（rho/theta）平移时，产生的旋转误差
        0.1 ==== 标准差为10%
      -->
      <param name="srt" value="0.2"/>
      <!--   
        位姿优化时
        平移函数（theta/rho），旋转时，产生的平移误差
           0.1 ==== 标准差为10%
       -->
      <param name="str" value="0.1"/>
      <!--   
        位姿优化时
        旋转函数（theta/theta），旋转时，产生的旋转误差
           0.1 ==== 标准差为10%
      -->
      <param name="stt" value="0.2"/>
      
      <!-- 
      说明：
          机器人每平移1米后才会处理一次激光雷达数据
          上面的那些地图更新，位置优化也都是取决于这个
          还有下面的旋转，只有两个都满足才会处理
      设置：
          不是很复杂就设置0.05就行
       -->
      
      <param name="linearUpdate" value="0.03"/>
      <!-- 
      说明：
          机器人每旋转0.5弧度后处理一次激光雷达数据。
      设置：
          不是很复杂就设置这个就行
      -->
      <param name="angularUpdate" value="0.5"/>
      <!-- 
      说明：
          基于时间控制激光雷达数据更新，当机器人运动非常缓慢，
          移动和旋转不能触发，因此设置这个参数可以保证（不受那两个
          参数的影响）
      设置：
          ·该值为负数时关闭基于时间的更新
          ·3 ==== 处理时间间隔为3秒
      -->
      <param name="temporalUpdate" value="3.0"/>
      <!-- 
      说明：
        这个定义的是重采样的触发条件，设置的有效粒子（权重高）
        的占比，低于这个占比就会触发重采样
      设置：
        0.5 ==== 适用于大多数场合
        如果障碍物较多可以设置得高一点（0.6，0.7）
        如果障碍物较少，可以设置低一点（0.3）
      -->
      <param name="resampleThreshold" value="0.5"/>
      <!-- 
      说明： 
        设置粒子数量。数量越少，机器人越难找到正确位置
        数量越多，会增加找到正确位置的概率，但会增加计算量
      设置：
        一般来说，小型/不复杂的环境 ==== 20 - 30
                大型/复杂的环境 ==== 50 - 100
      -->
      <param name="particles" value="30"/>
      <!-- 下面的四个都是定义地图的范围，单位是m -->
      <param name="xmin" value="-50.0"/>
      <!-- -->
      <param name="ymin" value="-50.0"/>
      <!-- -->
      <param name="xmax" value="50.0"/>
      <!-- -->
      <param name="ymax" value="50.0"/>
      <!-- 
      说明：
        设置地图分辨率，即珊格的边长（正方形），值越小，
        地图越详细，越大地图越粗糙
      设置：
        小环境（家庭/办公室） ==== 0.05
        大环境（工厂/仓库） ==== 0.1/0.2
        -->
      <param name="delta" value="0.05"/>
      <!-- 
      说明：
        似然计算第一步时对odom预测位置假设机器人真实位置。
        值设置的是假设平移范围（以机器人为中心）
      设置：
          值设置太小可能真实位置不再采样范围，
          值设置太大会增加计算量
      -->
      <param name="llsamplerange" value="0.01"/>
      <!-- 
      说明：
        对于上面的范围，每隔多少距离去一个采样点
      设置：
          值越小越精细
      -->
      <param name="llsamplestep" value="0.005"/>
      <!-- 
      说明：
        似然计算第一步时对odom预测位置假设机器人真实位置。
        值设置的是假设旋转范围（以机器人为中心）
      设置：
          值设置太小可能真实位置不再采样范围，
          值设置太大会增加计算量
      -->
      <param name="lasamplerange" value="0.01"/>
      <!--  
      说明：
          这个设置的时采样点（假设点）和采样点旋转方向上的角度间隔
      设置：
          设置得越小越精准，但计算量增加
      -->
      <param name="lasamplestep" value="0.005"/>
      <!-- -->
    </node>


</launch>